:root {
    /* Colores */
    --primary-bg-color: #00000000; /* Fondo primario */
    --secondary-bg-color: #1e3a78; /* Color de fondo secundario (azul oscuro) */
    --card-bg-color: rgba(255, 255, 255, 0.05); /* Fondo de la tarjeta */
    --tooltip-bg-color: rgba(255, 255, 255, 0.2); /* Fondo del tooltip (más azul) */
    --tooltip-text-color: #ffffff; /* Color del texto del tooltip */
    --disabled-bg-color: rgba(30, 58, 120, 0.7); /* Color de fondo para opciones deshabilitadas (azul claro) */
    --disabled-text-color: #fcfcfc; /* Color de texto para opciones deshabilitadas */
    --hover-bg-color: #4da6ff; /* Color de fondo al pasar el mouse (azul claro) */
    --white-color: #ffffff; /* Color blanco */
    --grey-color: rgba(255, 255, 255, 0.1); /* Color gris claro */
    --black-color: #000000; /* Color negro */
    --text-shadow-color: rgba(255, 255, 255, 0.3); /* Color de sombra del texto */
    --primary-text-color: #f0f8ff; /* Color de texto primario (blanco azulado) */
    --secondary-text-color: #e1e1e1; /* Color de texto secundario */
    --green-color: #1AC707; /* Color verde */
    --red-color: #FF0409; /* Color rojo */
  
    /* Sombras y efectos */
    --box-shadow: 0px 0px 3.7px var(--text-shadow-color); /* Sombra */
    --blur-effect: blur(3.7px); /* Efecto de desenfoque */
    --card-blur: blur(29.6px); /* Efecto de desenfoque en la tarjeta */
    --transition-duration: 443.52ms; /* Duración de las transiciones */
  
    /* Dimensiones */
    --tabs-height: 51.86px; /* Altura de las pestañas */
    --tabs-radius: 29.6px; /* Radio de las pestañas */
    --content-radius: 14.8px; /* Radio del contenido */
    --content-width: 29.6%; /* Ancho del contenido */
    --content-height: 59.2%; /* Altura del contenido */
    --card-width: 32.54px; /* Ancho de la tarjeta */
    --card-height: 32.54px; /* Altura de la tarjeta */
    --tooltip-width: 59.19px; /* Ancho del tooltip */
    --tooltip-padding: 0.74px 0; /* Relleno del tooltip */
    --container-left: 36.96px; /* Desplazamiento del contenedor a la izquierda */
}
